# Forces npm to auth all request, which is needed for Artifactory
always-auth = true
# Forces everyone to run on the same version of node and npm
engine-strict = true
# Don't show the number of dependencies looking for funding
fund = false